<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodWave</title>

    <link rel="stylesheet" href="../static/main.css">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    
</head>

<body class="whole">
    <nav id="navbar">
        <img src="../static/images-3.png" alt="photo" height="70px" width="70px" style="border-radius: 50%; margin-top: 70px; margin-right: 15px;">
        <div class="p" style="margin-top: 70px;">
            <h1>MoodWave</h1>
        </div>
    </nav>
    <div class="hello">
        <div class="hi">
            <h1 style="margin-left: 30px; color: aliceblue;" font >mood &nbsp<span class="spanA">STRUCK?</span></h1>
            <h2><span class="spanB">we've got you covered.</span><br><br><span class="spanc">EXPRESS.EXPLORE.ENJOY.</span></h2>
        </div>
            <div class="water">
            <img src="../static\musicphoto.jpg" style="float: right;" class="watermark">
        </div>
        <div class="left">
            <form action="/index" method="GET"><button class="btn">Dive In</button></form>
        </div>
    </div>
    <div class="control">
    <div class="vid2">
        <h2>About</h2>
        <p>
            Moodwave elevates your emotional well-being by curating music and videos tailored to your mood. Share your current feelings and explore personalized recommendations, or discover new music and videos that spark joy, soothe your soul, or fuel your energy.
        </p>
    </div>
    <div class="vid3"><h2>Curated by</h2>Barenya Mohanty<br>Priyanshu Gupta<br>Argyajyoti Mondal<br>Shubham Jena<br>JVS Ajitesh</div>
    </div>
</body>

</html>